.error {
	background-color: #F3676F;
	border-style: solid;
    border-width: 2px;
	border-color: red;
}

.normal {
	background-color: #94EC6F;
}

.errormsg {
	color: #F3676F;
}

.normalmsg {
	color: #94EC6F;
	visibility: hidden;
}